@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iConcerto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</head>
<body>

    <div class="navbar-fixed-top">
        <a href="#" class="nav" id="hamburger">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </a>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">About</a>
        @Html.ActionLink("Events", "Index", "Events")
        @Html.ActionLink("My Events", "EventsForUser", "Events")@*//,, new { userId = "_userId" }, new { @id = "myEvents" } hidden ="hidden"*@
        <a href="#">Contact</a>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    <div class="footer-wrapper">
        <div class="footer-content">
            <footer><p>&copy; 2019 Krystian Zakryś, Petros Psyllos </p>Projekt zaliczeniowy na przedmiot TWORZENIE APLIKACJI ROZPROSZONYCH. </footer>
        </div>
    </div>


</body>
<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        $("#hamburger").hide();
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        $("#hamburger").show();
        document.getElementById("mySidenav").style.width = "0";
    }

    $("#hamburger").click(function () {
        openNav();
    })
</script>
</html>
