@model iConcerto.Models.Events

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a href="@Url.Action("Index")" class="button-back"><i class="fas fa-long-arrow-alt-left"></i> Back</a>
<h2>Event details</h2>
<div>
    <hr />
    <div class="events-details-image-container">
        <img src="@Model.ImageURL" class="events-details-image" />
        <div class="events-details-image-text">
            <h3><span class="label label-warning top-right">@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</span></h3>
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <label> @Html.DisplayNameFor(model => model.Description)</label>
            <p> @Html.DisplayFor(model => model.Description)</p>
            @if (!ViewBag.isAssigned)
            {
                <a href="@Url.Action("AssignToUser", "Events", new { id = Model.EventId })" class="btn btn-success account-panel-link pull-right events-details-assign">Join <i class="fas fa-user-plus"></i></a>
            }
            else
            {
                <a href="@Url.Action("UnassignFromUser", "Events", new { id = Model.EventId })" class="btn btn-warning account-panel-link pull-right events-details-assign">Retreat <i class="fas fa-user-minus"></i></a>
            }
        </div>
    </div>

</div>

