@model IEnumerable<iConcerto.Models.Events>

@{ bool isAdmin = User.Identity.Name.Contains("krystian.zakrys@gmail.com");}
<h2>My events</h2>



    @if (Model.Any())
    {
        <div class="list-wrapper">
            @foreach (var item in Model)
            {
            <div style="background-image:url('@item.ImageURL');" class="event-panel-container">
                <div class="event-panel">
                    <a href="@Url.Action("Details", new { id = item.EventId})" class="btn btn-success"><i class="fas fa-info-circle"></i> Details</a>

                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <label>Date: </label>
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                    @*@Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "event-panel-link" })*@
                </div>
            </div>
            }
        </div>
    }
    else
    {
        @Html.Raw("You dont have assigned events! Go to ");
        <a href="@Url.Action("Index","Events",null)" class="btn btn-success"><i class="fas fa-calendar-week"></i> Public events</a>
     }
  