@model IEnumerable<iConcerto.Models.Events>

@{
    ViewBag.Title = "Public events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.Identity.Name.Contains("krystian.zakrys@gmail.com");
}

<h2>Public events</h2>
    @if (isAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </p>
    }
        <div class="list-wrapper">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <div style="background-image:url('@item.ImageURL');" class="event-panel-container">
                        <div class="event-panel">
                            <div class="event-panel-options">
                                <a href="@Url.Action("Details",new { id = item.ID})" class="btn btn-success"><i class="fas fa-info-circle"></i> Details</a>
                                @if (isAdmin)
                                {
                                    <a href="@Url.Action("Edit",new { id = item.ID})" class="btn btn-success"><i class="fas fa-edit"></i> Edit</a>
                                    <a href="@Url.Action("Delete",new { id = item.ID})" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</a>
                                }
                            </div>
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            <label>Date: </label>
                            <p>@Html.DisplayFor(modelItem => item.Date)</p>
                            @*@Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "event-panel-link" })*@
                        </div>
                    </div>
                }
            }
            else {
                @Html.Raw("There are no events here!");
            }
        </div>
